.App {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: white;
  padding: 20px;
}

.game-modes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-mode {
  background: #048ba8;
  width: 200px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin: 0.5rem 0;
  color: white;
}

.game-mode:hover {
  cursor: pointer;
}

.score-board {
  display: flex;
  background: chocolate;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  color: white;
}
.user {
  font-weight: bold;
}
.score {
  font-size: 2rem;
}
.action-title {
  margin: 2rem auto;
}
.weapons-container {
  display: flex;
  justify-content: center;
  margin: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

.weapon {
  margin: 0 2rem;
  width: 4rem;
  height: 4rem;
  border: 2px #282c34 solid;
  border-radius: 50%;
  padding: 0.5rem;
}

.weapon:hover {
  cursor: pointer;
  background: chocolate;
}

.button {
  padding: 0.3rem;
  border-radius: 4px;
  outline: none;
  color: #282c34;
  background: white;
  font-weight: bold;
  outline: none;
}

.button:hover {
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
